*{
    margin: 0;
    padding: 0;
}

.navbar{
    width:100%;
    height:30%;
    display:flex;
    /* background-image: url("IMG_9509.JPG"); */
    /* background-color: rgba(58, 238, 133, 0.543); */
    z-index: 9999;
    position:fixed;
    /* background-size:cover; */
}
.title{
    margin:20px;
    font-size: 40px;
    font-family:cursive;
}
.photo-word{
    color:rgb(250, 6, 214);
}
.portfolio{
    color:rgb(247, 153, 22);
}
.list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin:5%;

}

a{
    display:flex;
    text-decoration: none;
    color:white;
    font-size: 25px;
    font-weight: bold;
    white-space: nowrap;
}
a:hover{
    color:rgb(244, 41, 173);
    text-decoration-line: underline;
    text-underline-offset:50px;
}
li{
    margin-left:30px;

    
}

.navBg{
    transition:all 1s;
    background-color:rgba(0, 0, 255, 0.237);
    color:white;
}
.show{
    width:100%;
    height:100%;    
}
.show img{
    width:100%;
    object-fit: cover;
}
.quote{
    width:100%;
    position:absolute;
    top:90%;
    left: 2%;
    font-size: 2.3rem;
    color:rgb(237, 229, 229);
    font-family:cursive;
}
.lao{
    width:100%;
    position:absolute;
    top:100%;
    text-align: end;
    right:6%;
    font-size: 2.5rem;
    color:white;
}
.abc{
    display:inline-flex;
}
.abc-pic img{
    width:50%;
    border: 1px solid black;

}
.abc-words{
    border: 1px solid black;
    width:50%;
    font-size: 50px;
    white-space: nowrap
}