*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("background.JPG");
    background-size: cover;
}
.box{
    width:100%;
    height:100%;
    display:grid;
    justify-content: center;
    align-items: center;
    grid: 5fr; 

}
.pic{
    margin:0 15%;
    width:200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid  antiquewhite;      
}

.profile{
    width:100%;
    height:100%;
    border-radius:50% ;
    object-fit:cover;
}
.sub-box{
    border: 3px solid rgba(195, 246, 194, 0.785);
    background-color: rgba(24, 86, 4, 0.71);
    text-align: center;
    color: white;
    font-family: cursive;

}
h1{
    font-size: 30px;
}
.intro , .traveler {
    font-size: 20px;
    border: none !important;
    background-color: rgba(24, 86, 4, 0.51) !important;
}
.subscribe-to-my-news{
    font-size: .5px !important;
    border:none !important;
    background-color: rgba(24, 86, 4, 0.51);
    color:white;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:rgba(195, 246, 194, 0.785);
}
.email form input{
    width:100% !important;
    background-color: rgba(24, 86, 4, 0.41);
    border:none !important;
}
input[type="email"]{
    height:50px !important;
    color:white !important;
    font-size: 20px;
}
input::placeholder{
    color:white;
    font-size: 20px;

}
.media-link img{
    width:25px;
    margin:9px;
    padding: 10px;
}
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer p{
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Parisienne', cursive;
    font-size: 60px;
    color:white;
}
.footer img{
    width:60px;
    margin:10px;
}


    